<div class="row">
    <div class="col-md-12">
        <h2>Posts</h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Post&nbsp;ID</th>    
                        <th>Title</th>
                        <th>Post&nbsp;Date</th>
                        <th>Category</th>
                        <th>Published</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each posts}}   {{!the data in the posts array is fetched from posts.json by res.render() in /posts route in server.js}}
                        <tr>   {{!create a table row with 5 cells for each post}}
                            <td>{{id}}</td>    {{!fetch attributes value}}
                            <td>{{title}}</a></td>
                            <td>{{postDate}}</td>
                            <td><a href="/posts?category={{category}}">{{category}}</a></td>
                            <td>{{published}}</td>
                        </tr>
                    {{/each}}   {{!the end of the loop}}
                </tbody>
            </table>  
        </div> 
        <div class="col-md-12 text-center">
            {{#unless posts}}
                <strong>{{message}}</strong>
            {{/unless}}
        </div>
    </div>
</div>
